---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Spécialiste Eau et Assainissement</h2>
		<p>Spécialiste Eau et Assainissement, je conçois des solutions durables pour améliorer l'accès à l'eau potable et aux infrastructures d'assainissement, en alliant expertise et engagement communautaire pour promouvoir la santé publique et le bien-être des communautés.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Leader</h2>
		<p>En tant que leader en Eau et Assainissement, je dirige des initiatives pour améliorer l'accès à l'eau potable et aux infrastructures d'assainissement, avec un souci de durabilité et de santé publique. Je mobilise des équipes et des ressources pour des solutions innovantes, visant un impact durable au sein des communautés.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Esprit stratégique</h2>
		<p>Spécialiste Eau et Assainissement, j'élabore des solutions durables avec un esprit stratégique pour améliorer l'accès à l'eau potable et aux infrastructures d'assainissement, en alliant expertise et engagement communautaire pour promouvoir la santé publique et le bien- être des communautés.</p>

	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
